html
  head
    title Returned Data
  body
    h1 This is your requested Data
        if id
            p Cat's name: #{id}
            p Cat's age: #{age}
            p Cats's fur color: #{color}
        else
            p All Cat IDs: #{data}